# package directories
node_modules
jspm_packages

bin/openwhisk-standalone*.jar

# Serverless directories
.serverless

# build
dist
.manifest-dist.yml

# Config
config.json
.env

# IDE & Temp
.cache
.idea
.nyc_output
.vscode
coverage
.aws.tmp.creds.json

# OSX
.DS_Store

#custom
playground

# no package lock for libs
package-lock.json
